.fontRS {
    font-family: 'Roboto Slab', serif;
}

.fontIn {
    font-family: 'Indie Flower', cursive;
}

.fontA {
    font-family: 'Acme', sans-serif;
}

.fontU {
    font-family: 'Ubuntu', sans-serif;
}